{%load bootstrap4%}
{% load static %}
{% bootstrap_css %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/lion.css">
  <title>lionEdit</title>
</head>

<body>
  <header>
    <h1 class="header_title">
      <a href="/lion">
        HAEJUN'S BLOG
      </a>
    </h1>
  </header>

  <form method="POST" action="{%url 'lionUpdate' update.pk %}">
    {% csrf_token %}
    제목<br>
    <input type="text" name="title" value="{{ form.title }}"><br>
    내용<br>
    <textarea rows="10" cols="50" name="body">{{form.body}}</textarea><br>
    <input type="submit" value="완료">
  </form>
  {% bootstrap_javascript %}
</body>

</html>