{%load bootstrap4%}
{% load static %}
{% bootstrap_css %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/lion.css">
  <title>lionPosting</title>
</head>

<body>
  <header>
    <h1 class="header_title">
      <a href="/lion">
        HAEJUN'S BLOG
      </a>
    </h1>
  </header>

  <hr>

  <h1>
    {{ blog.title }}
    <!-- 글 목록만 보이게 하기 위해 title만 띄우든지 해보자 -->
  </h1>
  <p>{{ blog.pub_date }}</p>
  <p>{{ blog.body }}</p>
  <!-- <img src="{{blog.img.url}}" alt="#" height="600"> -->
  <a href="/lion">목록으로 이동</a>
  <a href="/lionEdit/{{blog.pk}}">수정하기</a>
  <a href="{% url 'lionDel' blog.pk %}">삭제하기</a>
  {% bootstrap_javascript %}
</body>

</html>